.formcontainer {
    width: 500px;
    background-color: #dbdbdb;
    padding: 30px;
    margin:auto;
    /* border: 2px solid black ; */
    border-radius: 25px;
    position: absolute;
    top: 16%;
    left: 37%;
    box-shadow: 2px 2px 5px grey;
}

.inputdiv {
  margin: 15px 0px 20px 0px;
}

input {

  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  border-bottom: 2px solid #c3c3c3;
  border-top: 0px solid #ffff;
  border-left: 0px solid #ffff;
  border-right: 0px solid #ffff;
  font-size: 15px;
}



h1 {
  text-align: center;
  margin: 50px;
}

h2 {
  text-align: center;
  font-size: 25px;
  margin: 30px;
}

span {
  padding-bottom: 15px;

}

button {
  margin: 5px 3px 5px 3px;
}

a {
  margin: 5px 3px 5px 3px;
}

section {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0;

}