.formcontainer{
    width: 500px;
    background-color: #e4e4e4;
    padding: 30px;
    margin:auto;
    border: 2px solid black ;
    border-radius: 25px;
    position: absolute;
    top: 200px;
    left: 550px;
  }

.inputdiv{
  margin: 15px 0px 20px 0px;
}

input{

    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    padding:  5px 5px 5px 5px;
    border-radius: 7px;
    border: 2px solid lightgray;
}
h1{
  text-align: center;
  margin: 50px;
}
h2{
  text-align: center;
  font-size: 25px;
  margin: 30px;
}
span{
  margin-bottom:5px;

}

section{
  padding-top: 10px;
  display: flex;
  justify-content: center;
  margin: 0;
  
}
