<sidenav></sidenav>
<div class="maindev">
    <table class="table">
        <thead class="table-header">
            <h1>Employee Leaves</h1>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">TOTAL LEAVES</th>
            <th scope="col">REMAINING LEAVES</th>
            <th scope="col">CONSUME LEAVES</th>
            <th scope="col">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of employeeLeaves;">
            <td>{{item.userName}}</td>
            <td>   
              <input [(ngModel)]="item.totalLeaves" *ngIf="item.isEdit"  type="text"> 
              <span *ngIf="!item.isEdit">{{item.totalLeaves}}</span></td>
            <td>{{item.consumeLeaves}}</td>
            <td>{{item.remainingLeaves}}</td>
            <td><button *ngFor="! onEdit" (click)="onEdit()">Edit</button></td>
          </tr>
        </tbody>
      </table>
</div>