<div class="header">
    <div class="div1">
        <button type="button" mat-button (click)="drawer.toggle()">&#9776;</button>
    </div>
    <div class="div2">
        <h1>Employee Management Application</h1>
    </div>
    <div class="div3">

    </div>
</div>

<div class="sidebar">
    <mat-drawer #drawer class="innersidebar" mode="side" value="puch">
        <div class="abcd">
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/employeelogin"
                routerLinkActive="active">LOGIN</a>
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/employeeregister"
                routerLinkActive="active">REGISTER</a>
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/employeeleaves"
                routerLinkActive="active">LEAVES</a>
        </div>
    </mat-drawer>
</div>