<div class="header">
    <div class="div1">
        <span id="menu" class='material-icons' (click)="drawer.toggle()" >menu</span>
    </div>
    <div class="div2">
        <h1>Employee Management Application</h1>
    </div>
    <div class="div3">
        <span id="logout" class="material-icons"  (click)="Logout()" >logout</span>
    </div>
</div>

<div class="sidebar">
    <mat-drawer #drawer class="innersidebar" mode="side" value="puch">
        <div class="abcd">
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/employeeleaves"
                routerLinkActive="active">LEAVES</a>
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/employeetask"
                routerLinkActive="active">Task</a>
            <a class="btn btn-light" data-mdb-color="dark" routerLink="/usertable"
                routerLinkActive="active">User Table</a>
                
        </div>
    </mat-drawer>
    <ng-container ></ng-container>
</div>
