.header {
  background-color: #e4e4e4;
  position: relative;
  width: 100%;
  padding: 15px;
  display: flex;
  border-bottom: 2px solid black;
  z-index: 1;
  box-shadow: 0px 4px 5px grey;
}

.div1 {
  width: 25%;
}

.div2 {
  width: 50%;
}

.div3 {
  width: 25%;
}

.abcd {
  display: flex;
  flex-direction: column;

}

.innersidebar {
    width: 250px;
    height: 100%;
    position: absolute;
    background-color: #e4e4e4;
    padding: 100px 25px 35px 25px;
    transition: 0.5s;
    border-right: 2px solid black;
    
}
span#menu{
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  background-color: #dbdbdb;
  box-shadow: 0px 0px 5px grey;
}

span#logout{
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  background-color: #dbdbdb;
  width: 40px;
  margin-left: auto;
  box-shadow: 0px 0px 5px grey;
}


.mat-drawer-inner-container.ng-tns-c65-0 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  padding: 5px;
  background-color: unset;
  font-size: 30px;
  border: 0;
}

H1 {
  text-align: center;
  font-weight: 500;
  margin: 0;
}

a {
  margin-bottom: 8px;
  color: #212529;
  font-weight: 500;
}

.btn-light:hover {
  color: #ffff;
  border-color: #f9fafb;
  background-color: #212529;
}