<sidenav></sidenav>

<div class="mainsec">
</div>
<div class="maintable">
    <table class="table">
        <thead class="table-header">
            <tr>
                <td scope="col"><strong>TASK-ID</strong></td>
                <td scope="col"><strong>USERNAME</strong></td>
                <td scope="col"><strong>TASK NAME</strong></td>
                <td scope="col"><strong>CREATE AT</strong></td>
                <td scope="col"><strong>STATUS</strong></td>
                <td scope="col"><strong>ACTION</strong></td>
            </tr>
        </thead>
        <tbody>
            <!-- <form #myform = "ngForm"> -->
                <tr *ngFor="let data of employeeTasks">
                    <td>{{data.id}}</td>
                    <td>{{data.userName}}</td>
                    <td><span *ngIf="!data.isEdit">{{data.taskName}}</span>
                        <!-- <span><input [(ngModel)]="data.taskName" *ngIf="data.isEdit || data.isNew"  type="text" placeholder="Enter TaskName"></span> -->
                        <span>
                                <input [(ngModel)]="data.taskName" *ngIf="data.isEdit"  type="text"  placeholder="Enter TaskName" >
                                <!-- <small  *ngIf="formErrors.TaskName">Last name is required</small> -->
                        </span>
                    </td>
                    <td>{{data.createdAt|date:'short'}}</td>
                    <td>
                        <select *ngIf="!data.isEdit" [(ngModel)]="data.status">
                            <option *ngFor="let option of Options" [selected]="option === data.status" [value]="option">{{option}}</option>
                        </select>
                        <span *ngIf="data.isEdit">{{selected}}</span>
                    </td>
                    <td><button *ngIf="!data.isEdit" class="btn1" type="button" (click)="onAddNewTask(data)">Add NewTask</button></td>

                    <td>
                        <button *ngIf="data.isNew && !data.isEdit" class="btn1" (click)="onEdit(data)">Edit</button>
                        <span *ngIf="data.isEdit">
                            <button class="btn1"  (click)="onSave(data)">Save</button> &nbsp;
                            <button class="btn1" (click)="onCancel(data)">Cancel</button>
                        </span>
                    </td>
                </tr>
            <!-- </form> -->
        </tbody>
    </table>
</div>