<sidenav></sidenav>
<div class="mainsec">
    <button class="btn btn-dark">New Task</button>
</div>
<div class="maintable">
    <table class="table">
        <thead class="table-header">
            <tr>
                <td scope="col"><b>TASK-ID</b></td>
                <td scope="col"><b>TASK NAME</b></td>
                <td scope="col"><b>CREATE AT</b></td>
                <td scope="col"><b>STATUS</b></td>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td>{{id}}</td>
                <td>{{userName}}</td>
                <td>{{ createdAt | date:'short' }}</td>
                <td>
                    <select name="" id="">
                        <option value="">Assigned</option>
                        <option value="">InProgress</option>
                        <option value="">Hold</option>
                        <option value="">Completed</option>
                    </select> 
                </td>
            </tr>
        </tbody>
    </table>
</div>