<sidenav></sidenav>
<div class="mainsec">
</div>
<div class="maintable">
    <table class="table">
        <thead class="table-header">
            <tr>
                <td scope="col"><strong>TASK-ID</strong></td>
                <td scope="col"><strong>USERNAME</strong></td>
                <td scope="col"><strong>TASK NAME</strong></td>
                <td scope="col"><strong>CREATE AT</strong></td>
                <td scope="col"><strong>STATUS</strong></td>
                <td scope="col"><strong>ACTION</strong></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of employeeTasks">
                <td>{{data.id}}</td>
                <td>{{data.userName}}</td>
                <td>
                    <span *ngIf="! data.taskinput">{{data.taskName}}</span>
                    <span> <input [(ngModel)]="data.taskName" *ngIf="data.taskinput" type="text"> </span>
                </td>
                <td>{{data.createdAt|date:'medium'}}</td>
                <td>
                    <span>
                        <select [(ngModel)]="data.status">
                            <option  *ngFor="let option of Options" [selected]="option === data.status" [value]="option">
                                {{ option }}
                            </option>
                        </select>
                    </span>

                </td>
                <td>
                    <button  class="btn1" type="button" (click)="onClick(data)" >ASSIGN TASK</button>

                    
                </td>
                <td>
                    <button *ngIf="data.btnshow"  class="btn1" (click)="onEdit(data)">edit</button>
                    <span *ngIf="data.btnsave"><button  class="btn1" (click)="onSave(data)">save</button></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>