<sidenav></sidenav>

<div>
    <form  >
        <table class="table">
            <thead class="table-header">
                <tr>
                <td scope="col"><strong>ID</strong></td>
                <td scope="col"><strong>Username</strong></td>
                <td scope="col"><strong>Taskname</strong></td>
                <td scope="col"><strong>Date</strong></td>
                <td scope="col"><strong>Status</strong></td>
                <td scope="col"><strong>Action</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </form>
</div>