.userTable-container {
    width: 1100px;
    margin: 20px auto 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px grey;
    background-color: lightgray;
}

.abcd {
    height: 500px;
    overflow-y: scroll
}

.abcd::-webkit-scrollbar-track {
    background-color: lightgrey;

}

.abcd::-webkit-scrollbar {
    width: 8px;

}

.abcd::-webkit-scrollbar-thumb {
    background-color: #838383;
    border-radius: 4px;
}

.cdef {
    margin: 15px;
}

.newtask {
    border: 0px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px 5px 15px;
    border: 2px solid darkgray;
    color: unset;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
}

input.ng-touched {
    border: 2px solid red;
}

input.ng-valid {
    border: 2px solid green;
}

input:focus {
    outline: none;
    border: 1px solid black;
}

.gray {
    background-color: #b5b5b5;
}

.white {
    background-color: gray;
}